*.iml
*.pyc
.DS_Store
/*.sublime-project
/*.sublime-workspace
/.cache
/.classpath
/.history
/.idea
/.idea_modules
/.metadata
/.project
/.settings
/.settings
/.target
/.sbtopts
/RUNNING_PID
/atlassian-ide-plugin.xml
/bin
/conf/local.conf
/dist
/logs
/out
/project/project
/project/target
/target
/tmp
/data/sanders
/data/rawdata
/data/full-corpus.csv
/data/*.tsv
.jira-url
data/.ipynb_checkpoints/
data/derby.log
data/metastore_db/
data/trainingandtestdata.bkp/
.sbtopts
.sbtserver
project/.sbtserver.lock
project/sbt-ui.sbt
.ensime
.ensime_cache/
