<dom-module id="trainer-metrics">
    <template>
        <div class="metric-block">
            <span class='metric-heading heading'>Batch Learning Statistics</span>
            <dl class="dl-horizontal">
                <dt>Accuracy</dt>
                <dd><span>{{batch.accuracy}}</span>%</dd>
                <dt>ROC</dt>
                <dd><span>{{batch.areaUnderRoc}}</span>%</dd>
            </dl>
        </div>
        <div class="metric-block realtime-chart-container">
            <span class="metric-heading heading">Online Learning Accuracy (<span>{{online.accuracy}}</span>%)</span>

            <div class="realtime-chart"></div>
        </div>
        <div class="metric-block">
            <span class='metric-heading heading'>Online Learning Statistics</span>
            <dl class="dl-horizontal">
                <dt>Accuracy</dt>
                <dd><span>{{online.accuracy}}</span>%</dd>
                <dt>ROC</dt>
                <dd><span>{{online.areaUnderRoc}}</span>%</dd>
            </dl>
        </div>
        <div class="realtime-chart-big-container">
            <div class="realtime-chart-big"></div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'trainer-metrics',
            ready: function () {
                this.online = {
                    accuracy: 0,
                    areaUnderRoc: 0
                };
                this.batch = {
                    accuracy: 0,
                    areaUnderRoc: 0
                };
            },
            update: function (stat) {
                var accuracy = (Math.round(stat.accuracy * 10000) / 100).toString().replace('.', ',');
                var areaUnderRoc = (Math.round(stat.areaUnderRoc * 10000) / 100).toString().replace('.', ',');

                var v = {
                    accuracy: accuracy,
                    areaUnderRoc: areaUnderRoc
                };

                if (stat.trainer === "Online") {
                    this.set('online', v);
                } else {
                    this.set('batch', v);
                }

                console.log("online:", this.online);
                console.log("batch:", this.batch);
            }
        });
    </script>
</dom-module>
