<dom-module id="twitter-cardlist">
  <template>
    <template is="dom-repeat" items="{{elements}}">
      <div class$="{{sentiment(item.sentiment)}}">
        <div class='table-cell'>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class$="{{thumbs(item.sentiment)}}"></i>
          </span>
          <div class="tweet-content">
            <span>{{item.tweet}}</span>
          </div>
        </div>
      </div>
    </template>
  </template>
  <script>
  Polymer({
    is: 'twitter-cardlist',
    ready: function() {
      this.elements = [];
    },
    sentiment: function(prediction) {
      prediction = parseFloat(prediction);
      return 'tweet ' + (prediction < .51 ? 'negative' : 'positive');
    },
    thumbs: function(prediction) {
      prediction = parseFloat(prediction);
      return 'fa fa-thumbs-o-' + (prediction < .51 ? 'down' : 'up') + ' fa-stack-1x';
    }
  });
  </script>
</dom-module>
