@main(title = "Twitter sentiment analysis", subtitle = "Done with Spark, MLlib, Scala and Play!") {

    <section class="container">
        <paper-material>
            <div class="horizontal center-justified">
                <h3>Enter a keyword</h3>
                <paper-input label="Enter token"></paper-input>
                <paper-button id="start-predicting">Predict</paper-button>
                <paper-progress value="0" class="x-scope paper-progress-0 hidden"></paper-progress>
            </div>
        </paper-material>
    </section>

}