@(host: String)
@main(title = "Twitter Sentiment Analysis", subtitle = "Powered by Spark, MLlib, Scala, Akka and Play!") {

    <div class="overlay">
        <ws-element id="socket" url="ws://@{host}/eventSocket"></ws-element>
        <ws-element id="statisticsSocket" url="ws://@{host}/statisticsSocket"></ws-element>
        <div class="stats-container">
            <h2>Statistics</h2>
            <div class="metrics">
                <trainer-metrics></trainer-metrics>
            </div>
        </div>
        <div class="card-container">
            <div class="card-list batch-results">
                <h3>Batch Model Results <span class="precision"></span></h3>
                <twitter-cardlist></twitter-cardlist>
            </div>
            <div class="card-list online-results">
                <h3>Online Model Results <span class="precision"></span></h3>
                <twitter-cardlist></twitter-cardlist>
            </div>
        </div>
    </div>

}
