@(title: String, subtitle: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <script src='@routes.Assets.at("javascripts/vendor/webcomponentsjs/webcomponents-lite.min.js")'></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="import" href='@routes.Assets.at("templates/elements.html")'>
        <link rel="import" href='@routes.Assets.at("stylesheets/vendor/ice.html")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>

            <!-- For shared styles, shared-styles.html import in elements.html -->
        <style is="custom-style" include="shared-styles"></style>
    </head>
    <body unresolved class="fullbleed layout vertical">
        <span id="browser-sync-binding"></span>
        <template is="dom-bind" id="app">
                <!-- Main Area -->
            <paper-scroll-header-panel main condenses keep-condensed-header>

                    <!-- Main Toolbar -->
                <paper-toolbar id="mainToolbar" class="tall">
                    <span class="flex"></span>

                        <!-- Toolbar icons -->
                    <paper-icon-button icon="refresh"></paper-icon-button>

                        <!-- Application name -->
                    <div class="middle middle-container center horizontal layout">
                        <div class="app-name">@title</div>
                    </div>

                        <!-- Application sub title -->
                    <div class="bottom bottom-container center horizontal layout">
                        <div class="bottom-title paper-font-subhead">@subtitle</div>
                    </div>

                </paper-toolbar>

                    <!-- Main Content -->
                <div class="content">@content</div>
            </paper-scroll-header-panel>
        </template>

        <link rel="import" href='@routes.Assets.at("templates/libraries.html")'>
        <script type="text/javascript" src="@routes.Application.jsRoutes"></script>
        <script src='@routes.Assets.versioned("main.js")'></script>
    </body>
</html>