@(title: String, subtitle: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <script src='@routes.Assets.at("javascripts/vendor/webcomponentsjs/webcomponents-lite.min.js")'></script>
        <link rel="import" href='@routes.Assets.at("templates/elements.html")'>
        <link rel="import" href='@routes.Assets.at("stylesheets/vendor/ice.html")'>
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'/>

            <!-- For shared styles, shared-styles.html import in elements.html -->
        <style is="custom-style" include="shared-styles"></style>
    </head>
    <body unresolved class="fullbleed layout vertical">
        <template is="dom-bind" id="app">
            <paper-scroll-header-panel main condenses keep-condensed-header>
                    <!-- Main Toolbar -->
                <paper-toolbar id="mainToolbar" class="tall">
                    <span class="flex"></span>
                        <!-- Toolbar icons -->
                    <paper-icon-button icon="refresh"></paper-icon-button>

                        <!-- Application name -->
                    <div class="middle middle-container center horizontal layout">
                        <div class="app-name">@title</div>
                    </div>

                        <!-- Application sub title -->
                    <div class="bottom bottom-container center horizontal layout">
                        <div class="bottom-title paper-font-subhead">@subtitle</div>
                    </div>

                </paper-toolbar>
                <div class="content">
                    <iron-pages>@content</iron-pages>
                </div>
            </paper-scroll-header-panel>
        </template>
        <script src='@routes.Assets.at("javascripts/main.js")'></script>
    </body>
</html>