@(title: String, subtitle: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src='@routes.Assets.at("javascripts/vendor/webcomponentsjs/webcomponents-lite.min.js")'></script>
        <link href='//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="import" href='@routes.Assets.at("templates/elements.html")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("javascripts/vendor/bootstrap/dist/css/bootstrap.min.css")'/>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/vendor/font-awesome/css/font-awesome.min.css")'/>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'/>
    </head>
    <body unresolved class="fullbleed layout vertical not-authenticated keys-missing">
        <span id="browser-sync-binding"></span>
        <template is="dom-bind" id="app">
            <div class="header">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img alt="Brand" src='@routes.Assets.at("images/logo.png")'>
                        </a>
                        <ul class="navbar-right">
                            <li class="logout">
                                <a href="/logout">Logout</a>
                            </li>
                            <li>
                                <a href="http://www.openforce.com">About</a>
                            </li>
                        </ul>
                        <div class="heading">Twitter Sentiment Analysis</div>
                    </div>
                </nav>
            </div>
            <div class="heading-container headings">
                <h1>Twitter Sentiment Analysis</h1>
                <h2>powered by</h2>
                <ul class="icons">
                    <li class="scala">
                        <img src="@routes.Assets.at("images/header-logo-scala.svg")">
                    </li>
                    <li class="akka">
                        <img src="@routes.Assets.at("images/header-logo-akka.svg")">
                    </li>
                    <li class="play">
                        <img src="@routes.Assets.at("images/header-logo-play.svg")">
                    </li>
                    <li class="spark">
                        <img src="@routes.Assets.at("images/header-logo-spark.svg")">
                    </li>
                </ul>
            </div>
            <form class="heading-container actions search">
                <div class="paper-input">
                    <paper-input label="Keyword" autofocus>
                        <paper-icon-button suffix icon="search" id="start-predicting"></paper-icon-button>
                    </paper-input>
                </div>
            </form>
            <form action="@routes.Twitter.authenticate" class="heading-container actions login">
                <h2>Twitter authentication</h2>
                <div>
                    <p>
                        Before you can use the application please login with your Twitter account.<br />
                        <small>(This is needed because of Twitter api regulations.</small>)
                    </p>
                </div>
                <button class="twitter-login"></button>
            </form>
            <div class="heading-container actions keys-missing-error">
                <h2>Consumer key and/or secret are missing</h2>
                <p>
                    Because twitter doesn't allow key/token/password sharing (which makes sense) you have to create an application at Twitter before you can use this application.
                    You can create and manage your applications at <a href="https://apps.twitter.com/">https://apps.twitter.com/</a>
                </p>
                <p>
                    After you've obtained your consumer key and secret, enter them in your application.conf like this:
                </p>
                <p>
                    <pre>
twitter {
  consumer {
    key = "CONSUMER_KEY"
    secret = "CONSUMER_SECRET"
  }
}
                    </pre>
                </p>
            </div>
            <div class="push-down"></div>
                <!-- Main Content -->
            <div class="content">
                @content
            </div>
            <paper-toast id="event-toast"></paper-toast>
                <!--<event-log></event-log>-->
        </template>

        <link rel="import" href='@routes.Assets.at("templates/libraries.html")'>
        <script type="text/javascript" src="@routes.Application.jsRoutes"></script>
        <script src='@routes.Assets.versioned("main.js")'></script>
    </body>
</html>
